.services {
    width: 100%;
    height: 100%;
    background: $bg-section;
    margin-top: 720px;
    padding-top: 70px;
    padding-bottom: 70px;

    @include for-size(phone-only) {
              margin-top: 20px;          
    }

    &__title {
        text-align: center;

        h1 {
            font-size: 1em;
            font-weight: 400;
            font-family: $heading-font;
            color: $color-title;

            @include for-size(phone-only) {
                        font-size: 0.9em;
            }
        }

        h2 {
            color: $color-title;
            font-size: 2em;
            font-weight: 900;
            line-height: 1.1;
            letter-spacing: -0.03em;
            margin-top: 15px;

            @include for-size(phone-only) {
                font-size: 1.4em; 
            }
        }

        p {
            font-size: 0.9em;
            line-height: 1.6;
            margin-top: 15px;

            @include for-size(phone-only) {
                     font-size: 0.8em;   
            }
        }
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;

        @include for-size(phone-only) {
            flex-direction: column;     
        }
    }

    &__col-md-12 {
        flex-basis: 48%;
        height: 100%;
        padding: 20px;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        border-radius: $border-radius;

        @include for-size(phone-only) {
                 flex-basis: 100%;       
        }

        a {
            background: $primary;
            padding: 1.2em 1.2em !important;
            border-radius: 8px;
            color: white !important;
            font-size: 15px;
            font-family: $heading-font;
            transition: all 0.2s ease-in-out;
            margin-bottom: 40px;
            box-shadow: $box-shadow;
        }
    }

    &__content {
        h2 {
            font-size: 1em;
            font-weight: 700;
            font-family: $heading-font;
            color: $color-title;

            @include for-size(phone-only) {
                font-size: 1em;
            }
        }

        p {
            font-size: 0.9em;
            line-height: 1.6;
            margin-top: 15px;

            @include for-size(phone-only) {
                font-size: 0.8em;   
            }
        }
    }

    &__btn {
        text-align: center;
        margin-top: 50px;

        a {
            background: $primary;
            padding: 1em 1.4em !important;
            border-radius: 8px;
            color: white !important;
            font-size: 15px;
            font-family: $heading-font;
            transition: all 0.2s ease-in-out;
            box-shadow: $box-shadow;
        }
    }
}

// ++++++++++++++ Features +++++++++++++++
.features {
    width: 100%;
    height: 100%;
    margin-top: 100px;

    &__row {
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;

        @include for-size(phone-only) {
            flex-direction: column; 
        }
    }

    &__col-md-3 {
        flex-basis: 40%;
        height: 100%;

        @include for-size(phone-only) {
                 flex-basis: 100%;       
        }

        h1 {
            font-size: 1em;
            font-weight: 400;
            font-family: $heading-font;
            color: $color-title;
            margin-top: 20px;

            @include for-size(phone-only) {
                       font-size: 0.9em 
            }
        }

        h2 {
            color: $color-title;
            font-size: 2em;
            font-weight: 900;
            line-height: 1.1;
            letter-spacing: -0.03em;
            margin-top: 20px;

            @include for-size(phone-only) {
                       font-size: 1.4em; 
            }
        }

        p {
            font-size: 0.9em;
            line-height: 1.6;
            margin-top: 20px;

            @include for-size(phone-only) {
                     font-size: 0.8em;   
            }
        }

        a {
            background: $primary;
            padding: 1em 1.4em !important;
            border-radius: 8px;
            color: white !important;
            font-size: 15px;
            font-family: $heading-font;
            transition: all 0.2s ease-in-out;
            margin-top: 30px;
            box-shadow: $box-shadow;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $color-title;
            }
        }
    }

    &__col-md-6 {
        flex-basis: 60%;
        height: 100%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;

        @include for-size(phone-only) {
            flex-basis: 100%;
            padding-left: 0px;
            margin-top: 50px;
        }
    }

    &__flex {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        @include for-size(phone-only) {
            flex-direction: column;   
        }

        &:not(:first-child) {
            margin-top: 33px;
        }

        &-col-md-6 {
            flex-basis: 15%;

            @include for-size(phone-only) {
                flex-basis: 100%;
                text-align: center;
            }

            h1 {
                color: $color-title;
                font-size: 4em;
                font-weight: 900;
                line-height: 1.1;
                letter-spacing: -0.03em;

                @include for-size(phone-only) {
                        font-size: 2.5em;
                }
            }
        }

        &-col-md-12 {
            flex-basis: 80%;
            margin-left: 20px;

            @include for-size(phone-only) {
                flex-basis: 100%;
                margin-left: 0px;
                margin-top: 20px;  
            }

            h2 {
                font-size: 1em;
                font-weight: 700;
                font-family: $heading-font;
                color: $color-title;
                position: relative;
                padding-bottom: 20px;

                @include for-size(phone-only) {
                        font-size: 0.9em;
                        text-align: center;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: $color-title;
                    position: absolute;
                    bottom: 20%;
                    left: 0;
                }
            }

            p {
                font-size: 0.9em;
                line-height: 1.6;
                color: $color-text;

                @include for-size(phone-only) {
                        font-size: 0.8em;
                        text-align: justify;
                }
            }
        }
    }
}
